# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp

# Node
/node_modules
npm-debug.log

# IDEs and editors
.idea/

# Visual Studio Code
/.vscode/*

# Miscellaneous
/.angular/cache
.sass-cache/
/coverage

# System files
.DS_Store
Thumbs.db
