/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM COLORS */
:root {
    --primary: theme(colors.primary.DEFAULT);
    --secondary: theme(colors.secondary.DEFAULT);
    --third: theme(colors.third.DEFAULT);
    --fourth: theme(colors.fourth.DEFAULT);
    --light-back: #eaeaea;
    --text-dark: theme(colors.dark);
    --text-white: theme(colors.white);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
